<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Hero Section -->
    <section>
        <h1>Hello, I'm Jupsimar Singh</h1>
        <p>Welcome to my portfolio website!</p>
        <a href="/projects">See my work</a>
    </section>

    <!-- Footer -->
    <footer>
        <p>© 2025 John Doe | Email: jupsimar@cambriancollege.ca</p>
    </footer>
</body>
</html>